.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Subheader {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 20px;
  top: 20px;
  left: 20px;
  align-items: start;
}

.App-body {
  background-image: url("./assets/project-bg-2.jpeg");
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  color: black;
  min-height: 96vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
